<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wishlist</title>
    <link th:href="@{https:localhost:8080}">
</head>
<body>

<h1>PC - Ønskeliste</h1>
<h1 style="background-color: lightblue">
    <form action="#" th:action="@{/wishlist/add}" method="post" th:object="${wish}"><label1 for="Computer Part">Pick a part:</label1>
        <br>
        <select id="Computer Part" name="Computer part">
            <option value="Pick your part">Pick your part </option>
            <option value="Graphic Card">RTX 3040 TI</option>
            <option value="Graphic Card">GTX 3070</option>
            <option value="Motherboard">ASUS ROG Strix Z590-E</option>

        </select>

        <br>
        <label2 for="Price">Pris:</label2>
        <br>
        <table>

            <input name="price" type="number">
            <br>
            <lable>Add wish</lable>
            <br>
            <button type="submit">Add wish</button>




</table>
</form>
</h1>
</body>
</html>