<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 th:text="${build.buildName + ', UserID = ' + build.userID}"/>
<span th:object="${build}">
    <span th:each="part : *{parts}" th:with="partType = ${part.partType}">
        <label th:text="${partType} + ': ' + ${part.name}" />
        <a th:href="@{http://localhost:8080/wishlist/create-wish/{buildID}/{partType} (buildID=${build.getBuildID()}, partType=${part.getPartType()})}"><button>Create wish</button></a>
    <br>
    </span>
</span>
</body>
</html>