<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 th:text="'Hello ' + ${user.uName}" />
<h2> Your build:</h2>
<a th:each="build : ${userBuilds}" th:href="@{http://localhost:8080/wishlist/build/{id} (id=${build.getBuildID()})}"><button th:text="${build.getBuildName()}"></button><br></a>
<h2> Your wishes: </h2>
<span th:each="wish : ${wishes}">
    <span th:text="${wish.name} + ': ' + ${wish.numberCount} + ' pcs, for build: ' + ${wish.build.buildName}"/>
    </br>
</span>
</body>
</html>