<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Added Successfully</title>
  <style type="text/css">
    span {
      display: inline-block;
      width: 200px;
      text-align: center;
    }
  </style>
  <style>
    .button {
      display: inline-block;
      padding: 10px 20px;
      font-size: 16px;
      font-weight: bold;
      color: white;
      background-color: dodgerblue;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      text-decoration: none;
    }

    .button:hover {
      background-color: #0069d9;
    }
  </style>
</head>
<body>
<div align="center">
  <h2>Wish added successfully</h2>
  <span>Selected Graphic Card:</span><br>
  <span>Selected Motherboard:</span><br>
  <span>Selected CPU:</span><br>
  <span>Selected Video Card:</span><br>
  <span>Selected Memory:</span><br>
  <span>Selected Solid State Drive:</span><br>
  <span>Selected Hard Disk:</span><br>
  <span>Selected Computer Case:</span><br>
  <span>The full price:</span><br>

  <a href="Wishlist/add" class="button"> Create new wish </a>
  <a href="LoggedInFrontPage.html" class="button"> Return to frontpage </a>

</div>
</body>
</html>