<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Wish</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>

<h1>Create a new wish</h1>
<div class="body">
    <form action="#" th:action="@{/wishlist/add}" method="post" th:object="${wishList}">
        <label>
            Pick your parts:
            <br>
            <span th:each="part : ${computerParts}">
            <!-- Filter out duplicate types -->
                <span th:if="${computerParts.indexOf(part) == 0 || computerParts.get(computerParts.indexOf(part) - 1).getpType() != part.pType}">
                    <span th:text="${'Select ' + part.pType}"/>
                    <select>
                        <!-- 'Placeholder' value -->
                        <option disabled selected th:text="${part.pType}"/>
                        <!--
                        Go through list of components again, and make an option if they are of same type.
                        Could probably be made better
                        -->
                        <option th:each="part2 : ${computerParts}" th:if="${part.getpType() == part2.getpType() && wishList.containsPart(part.partID)}"
                            th:text="${part2.pName}" selected/>
                        <option th:each="part2 : ${computerParts}" th:if="${part.getpType() == part2.getpType() && !wishList.containsPart(part.partID)}"
                                th:text="${part2.pName}"/>
                    </select>
                    <br>
                </span>
            </span>
        </label>
        <button type="submit"> Add wish</button>
    </form>
</div>
</body>
</html>